<!-- Footer -->
<footer id="footer" class="page-footer font-small bg-primary">
  <!-- Copyright -->
  <div class="footer-copyright text-info text-center py-3">
    © 2021 Copyright:
    <a class="text-info" href="#"> Budgeteer</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
