<!-- <div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-4">
            <div class="container">
                
            </div>
        </div>
        <div class="col-8">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quod quos atque praesentium distinctio amet eos nam nesciunt fuga aliquid dolorem accusantium labore nisi, iure ducimus eum error tenetur. Consectetur.</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt quod quo ab laboriosam quidem, repudiandae eveniet nostrum blanditiis provident voluptate officia facere soluta quibusdam expedita animi. A, dolorem inventore.</p>
            </div>
        </div>
    </div>
</div> -->