<nav class="navbar navbar-expand-lg navbar-light bg-primary px-3">
  <!-- Brand -->
  <a class="navbar-brand text-info font-weight-bold" href="#"
    ><img class="nav-logo mr-2" src="../../../images/LighterGreenLogo-cutout.png"/>Budgeteer</a
  >

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <% if (signedIn) { %>
      <li class="nav-item">
        <a class="nav-link text-info font-weight-bold hvr-shrink" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info font-weight-bold hvr-shrink" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info font-weight-bold hvr-shrink" href="/transactions">Transactions</a>
      </li>
      <li class="nav-item">
        <a id="_sign_user_out" class="nav-link text-info font-weight-bold hvr-shrink">Sign Out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link text-info font-weight-bold hvr-shrink" href="/login">Sign In</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
