<div id="login" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Default form login -->
      <form class="text-center p-5" action="#!">
        <h1 class="mb-2 font-weight-bold text-secondary">
          Welcome to Budgeteer
        </h1>

        <!-- Logo -->
        <img class="w-50 mb-4" src="../../images/DarkGreenLogo-cutout.png">

        <!-- Username -->
        <input
          type="text"
          id=""
          class="form-control mb-4 bg-info input-shadow"
          placeholder="Username"
        />

        <!-- Password -->
        <input
          type="password"
          id=""
          class="form-control mb-4 bg-info input-shadow"
          placeholder="Password"
        />

        <div class="d-flex justify-content-around">
          <div>
            <!-- Forgot password -->
            <a class="text-secondary" href="">Forgot password?</a>
          </div>
        </div>

        <!-- Login button -->
        <button class="btn btn-secondary my-4 text-info" type="submit">
          Login
        </button>

        <!--Register Route -->
        <p class="text-secondary">
          Not a member?
          <a class="text-secondary" href="registerPage">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
