<div id="register" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Default form register -->
      <form class="text-center p-5" action="#!">
        <h2 class="mb-4 font-weight-bold text-secondary">Registration</h2>

        <!-- Email -->
        <input
          type="text"
          id=""
          class="form-control mb-4 bg-info input-shadow"
          placeholder="Email"
        />

        <!-- Username -->
        <input
          type="text"
          id=""
          class="form-control mb-4 bg-info input-shadow"
          placeholder="Username"
        />

        <!-- Password -->
        <input
          type="password"
          id=""
          class="form-control mb-4 bg-info input-shadow"
          placeholder="Password"
        />

        <!-- Register button -->
        <button class="btn btn-secondary my-4 text-info" type="submit">
          Login
        </button>

        <!-- Login dialogue -->
        <p class="text-secondary">
          Already a user?
          <a class="text-secondary" href="login"> Login</a>
        </p>
      </form>
    </div>
  </div>
</div>
