<div id="transactions_list">
    <h1 class="m-3 font-weight-bold text-secondary text-center">
        Transactions
    </h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="TransactionsCardList"></div>
            </div>
        </div>
    </div>
</div>