// Styles
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Proza+Libre:wght@400;700&display=swap");

$font-family-sans-serif: "Open Sans";
$font-family-serif: "Proza Libre";
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #379683,
  "light": #a5e9bf,
  "secondary": #05386b,
  "info": #edf5e1,
  "danger": #fe5d26
);

@import "~bootstrap/scss/bootstrap";

// GLOBAL STYLE RULES
h1,
h2,
h3 {
  font-family: $font-family-serif;
}

h4 {
  font-family: $font-family-sans-serif;
}

body {
  font-family: $font-family-sans-serif;
}

.b-border {
  border-style: none none solid none;
  border-bottom: solid 2px #05386b;
}

li {
  list-style: none;
}


// NAVBAR STYLING
.nav-item {
  color: #edf5e1;
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.link-helper {
  text-decoration: underline;
}

// FOOTER STYLING
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

//FORM STYLING 
.input-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form-errors {
  color: red;
}


//ACCORDIAN STYLING 
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: #379683;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #379683;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  background-color: #edf5e1;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

//MEDIA QUERIES

@media screen and (max-width:400px) {
  
  
}


//HOVER STYLES
/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}